.employees {
  width: calc(100% - 150px);
  /* background-color: blue; */
  padding: 70px;
  padding-top: 30px;
  margin-left: 150px;
}

.employees--search {
  width: 300px;
  height: 20px;
  border-radius: 30px;
  outline: none;
  padding: 5px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;
  text-indent: 10px;
  font-size: 16px;
  margin-right: 30px;
  position: relative;
  display: flex;
  border: 3px solid #119da4;
}

.employees--grid {
  width: 100%;
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
