* {
  font-family: Outfit, Montserrat;
}
.routes {
  height: 100%;
}
.login {
  width: calc(100% - 150px);
  margin-left: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.login--logo {
  width: 200px;
  margin: 50px;
}
a {
  text-decoration: none;
  outline: none;
  border: none;
}
.login-switch {
  color: #2d314277;
  transition: 0.1s;
  margin-bottom: 50px;
}
.login-switch:hover,
.login-switch:focus {
  color: #2d3142;
}
.login-switch {
  margin-top: 20px;
  margin-bottom: 150px;
}
.update-employee--text {
  width: 100%;
  color: #eff1f3;
  margin: 0;
}
