.view-task {
  /* background-color: red; */
  box-sizing: border-box;
  height: 100vh;
  width: calc(100% - 150px);
  margin-left: 150px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view-task--title {
  color: #2d3142;
  font-size: 3rem;
  margin: 0;
}
.view-task--date {
  color: #2d314299;
  font-weight: 500;
}
.edit--button{
  width: 100px;
  height: 30px;
  background-color: #119da4;
  border-radius: 30%;
}
.delete--button{
  width: 100px;
  height: 30px;
  background-color: #119da4;
  border-radius: 30%;
}

