<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Sign up</title>
</head>
<body>
<div id="midDiv">
    <h1>TopIT</h1>
    <div id="signupDiv" method="post" action="/register" th:object="${registerRequest}">
        <h2>Sign up</h2>
        <div>
        <label for="nameInput">Username</label>
        <input type="text" id="nameInput" autofocus>
        </div>

        <div>
            <label for="emailInput">E-Mail</label>
            <input type="text" id="emailInput">
        </div>
        <div>
            <label for="passwordInput-1">Password</label>
            <input type="password" id="passwordInput-1">
        </div>
        <button id="loginButton" tabindex="-1">Sign Up</button>
    </div>
    <a href="/login">I already have an account</a>
</div>
</body>
</html>