#root {
    height: 100%;
    width: 100%;
}
.routes{
    width: calc(100% - 150px);
    height: 100%;
    margin: auto;
    margin-left: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    float: right;
    
}
.navbar{
    float: left;
    height: 100%;
}