.event--calendar{
    width: 100%;
    margin-left: 150px;
    align-items: center;
  justify-content: center;
}

.view--button{
    background-color: #119da4 ;
    width: 10%;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
}

