.fc {
    height: 50vh;
    margin-left: 120px;
    margin-top: 70px;
    width: 400%;
    margin-left: 50%;
  }

.Calendar--button{
    margin-top: 200px;
   margin-left: 220%;
    width: 80%;
    height: 50px;
    border-radius: 15px;
    background-color: #119da4;
}

