* {
  font-family: "Outfit";
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #eff1f3;
}
body {
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: 50%;
}
.navbar {
  width: 150px;
  height: 100%;
  position: fixed;
  background-color: #119da4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar--top-div {
  height: 100%;
}
.button:not(.selected):hover {
  background-color: #fff7;
}
.button.selected {
  color: #2d3142;
  background-color: #fff0;
}
